DJANGO_SETTINGS_MODULE=
SECRET_KEY=
HOST=

ALLOWED_HOSTS=

# Database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=
GS_PROJECT_ID=